Need to OneHotEncode: 'Agency Code', 'Loan Type', 'Property Type', 'Loan Purpose', 'Preapproval', 'State Code', 'County Code', 'Applicant Ethnicity', 'Co Applicant Ethnicity', 'Applicant Sex', 'Co Applicant Sex', 'Edit Status'

Need to scale: 'Occupancy', 'Loan Amount (000s)' 'MSA/MD' 'Population', 'Minority Population %', 'HUD Median Family Income', 'Tract to MSA/MD Income %', 'Number of Owner-occupied units', 'Number of 1- to 4-Family units'

In [11]:
#import important libraries
import pandas as pd
import numpy as np

#Read in processed dataset
#dataset = pd.read_csv('cleaned_data.csv')

In [12]:
#[dataset.columns[x] for x in [9,11,17,18,19,20,21,22]] #These columns have mixed/missing values

In [13]:
# Dropping MSA/MD (Metro location ID) because some don't have it, and it is difficult to compare because of this.
#dataset.drop('MSA/MD',axis=1, inplace=True)
#Drop MSA/MD Income % because this is no longer relevant
#dataset.drop('Tract to MSA/MD Income %',axis=1, inplace=True)

In [14]:
#len(dataset)

In [15]:
#data_cleaned = dataset.dropna()

In [16]:
#len(data_cleaned)/len(dataset)

In [17]:
#data_cleaned.to_csv('test_out.csv')

In [18]:
data_cleaned = pd.read_csv('test_out.csv')

/usr/bin/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
#del dataset

In [20]:
data_cleaned.columns[11]

'County Code'

In [21]:
data_cleaned.columns[17:22]

Index(['Population', 'Minority Population %', 'HUD Median Family Income',
       'Number of Owner-occupied units', 'Number of 1- to 4-Family units'],
      dtype='object')

In [22]:
data_cleaned.head()

,Unnamed: 0,Unnamed: 0.1,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount (000s),Preapproval,Action Type,...,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Sex,Co Applicant Sex,Edit Status,Population,Minority Population %,HUD Median Family Income,Number of Owner-occupied units,Number of 1- to 4-Family units
0,0,4,1,1,1,3,1,140,3,0,...,2,5,1,5,,00002512,065.84,00070100,00000449,00000846
1,1,8,1,2,1,3,1,316,3,0,...,2,5,1,5,,00007445,026.02,00070100,00001955,00002400
2,2,23,1,1,1,3,1,258,3,1,...,2,2,1,2,,00005360,007.93,00070100,00001678,00003200
3,3,27,1,1,1,3,1,67,3,1,...,2,2,1,2,,00005802,013.31,00070100,00001520,00002389
4,4,31,1,1,1,3,1,112,3,0,...,2,2,1,2,,00006942,019.30,00070100,00001576,00002506

In [23]:
def is_num(x):
    try:
        float(x)
        return True
    except:
        return False

In [24]:
data_cleaned['Minority Population %'].head().apply(lambda x: is_num(x))

0    True
1    True
2    True
3    True
4    True
Name: Minority Population %, dtype: bool

In [25]:
data_cleaned = data_cleaned[data_cleaned['County Code'].apply(lambda x: is_num(x))]
len(data_cleaned)

12511752

In [26]:
data_cleaned = data_cleaned[data_cleaned['Population'].apply(lambda x: is_num(x))]
len(data_cleaned)

12479174

In [27]:
data_cleaned = data_cleaned[data_cleaned['Minority Population %'].apply(lambda x: is_num(x))]
len(data_cleaned)

12478966

In [28]:
data_cleaned = data_cleaned[data_cleaned['HUD Median Family Income'].apply(lambda x: is_num(x))]
len(data_cleaned)

12478966

In [29]:
data_cleaned = data_cleaned[data_cleaned['Number of Owner-occupied units'].apply(lambda x: is_num(x))]
len(data_cleaned)

12472596

In [30]:
data_cleaned = data_cleaned[data_cleaned['Number of 1- to 4-Family units'].apply(lambda x: is_num(x))]
len(data_cleaned)

12470767

In [31]:
data_cleaned = data_cleaned.iloc[:, 2:]

In [32]:
data_cleaned.drop(['County Code', 'State Code', 'Edit Status'], axis = 1, inplace = True)

In [33]:
data_cleaned.columns

Index(['Agency Code', 'Loan Type', 'Property Type', 'Loan Purpose',
       'Occupancy', 'Loan Amount (000s)', 'Preapproval', 'Action Type',
       'Applicant Ethnicity', 'Co Applicant Ethnicity', 'Applicant Sex',
       'Co Applicant Sex', 'Population', 'Minority Population %',
       'HUD Median Family Income', 'Number of Owner-occupied units',
       'Number of 1- to 4-Family units'],
      dtype='object')

In [34]:
len(set(data_cleaned['Agency Code']))

6

In [35]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
from sklearn.pipeline import FeatureUnion
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest

In [36]:
cats = ['Agency Code', 'Loan Type', 'Property Type', 'Loan Purpose', 'Preapproval', 'Applicant Ethnicity', 'Co Applicant Ethnicity', 'Applicant Sex', 'Co Applicant Sex']
scale_feats = ['Occupancy', 'Loan Amount (000s)', 'Population', 'Minority Population %', 'HUD Median Family Income', 'Number of Owner-occupied units', 'Number of 1- to 4-Family units']

In [37]:
'''
lenc = LabelEncoder()
for cat in cats:
    print(cat)
    data_cleaned[cat] = lenc.fit_transform(data_cleaned[cat])
'''

'\nlenc = LabelEncoder()\nfor cat in cats:\n    print(cat)\n    data_cleaned[cat] = lenc.fit_transform(data_cleaned[cat])\n'

In [38]:
'''
ohe = OneHotEncoder(sparse = False)
encoded_data = ohe.fit_transform(data_cleaned[cats])
'''

data_cleaned = pd.get_dummies(data_cleaned, columns=cats)

In [39]:
data_cleaned.columns

Index(['Occupancy', 'Loan Amount (000s)', 'Action Type', 'Population',
       'Minority Population %', 'HUD Median Family Income',
       'Number of Owner-occupied units', 'Number of 1- to 4-Family units',
       'Agency Code_1', 'Agency Code_2', 'Agency Code_3', 'Agency Code_4',
       'Agency Code_5', 'Agency Code_7', 'Loan Type_1', 'Loan Type_2',
       'Loan Type_3', 'Loan Type_4', 'Property Type_1', 'Property Type_2',
       'Property Type_3', 'Loan Purpose_1', 'Loan Purpose_2', 'Loan Purpose_3',
       'Preapproval_1', 'Preapproval_2', 'Preapproval_3',
       'Applicant Ethnicity_1', 'Applicant Ethnicity_2',
       'Applicant Ethnicity_3', 'Applicant Ethnicity_4',
       'Co Applicant Ethnicity_1', 'Co Applicant Ethnicity_2',
       'Co Applicant Ethnicity_3', 'Co Applicant Ethnicity_4',
       'Co Applicant Ethnicity_5', 'Applicant Sex_1', 'Applicant Sex_2',
       'Applicant Sex_3', 'Applicant Sex_4', 'Co Applicant Sex_1',
       'Co Applicant Sex_2', 'Co Applicant Sex_3', 'Co Applicant Sex_4',
       'Co Applicant Sex_5'],
      dtype='object')

In [40]:
data_cleaned.shape

(12470767, 45)

In [ ]:
#Scale
scaler = MinMaxScaler()
data_cleaned[scale_feats] = scaler.fit_transform(data_cleaned[scale_feats])

In [41]:
classes = data_cleaned['Action Type']
data_cleaned.drop('Action Type', axis=1, inplace=True)

In [ ]:
data_cleaned.to_csv("encoded_scaled_features.csv")

In [34]:
classes.to_csv('classes.csv')

In [ ]:
Xtrain.columns([])