In [1]:
import pandas as pd
import numpy as np

In [2]:
with open("temp") as f:
    header_names = [x.strip() for x in f.readlines()]
header_names

['As of Year',
 'Respondent',
 'Agency Code',
 'Loan Type',
 'Property Type',
 'Loan Purpose',
 'Occupancy',
 'Loan Amount (000s)',
 'Preapproval',
 'Action Type',
 'MSA/MD',
 'State Code',
 'County Code',
 'Census Tract Number',
 'Applicant Ethnicity',
 'Co Applicant Ethnicity',
 'Applicant Race 1',
 'Applicant Race 2',
 'Applicant Race 3',
 'Applicant Race 4',
 'Applicant Race 5',
 'Co Applicant Race 1',
 'Co Applicant Race 2',
 'Co Applicant Race 3',
 'Co Applicant Race 4',
 'Co Applicant Race 5',
 'Applicant Sex',
 'Co Applicant Sex',
 'Applicant Income (000s)',
 'Purchaser Type',
 'Denial Reason 1',
 'Denial Reason 2',
 'Denial Reason 3',
 'Rate Spread',
 'HOEPA Status',
 'Lien Status',
 'Edit Status',
 'Sequence Number',
 'Population',
 'Minority Population %',
 'HUD Median Family Income',
 'Tract to MSA/MD Income %',
 'Number of Owner-occupied units',
 'Number of 1- to 4-Family units',
 'Application Date Indicator']

In [3]:
dataset = pd.read_csv('2009HMDALAR - National.CSV', names=header_names)

C:\Users\jh6w\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,10,12,13,30,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dataset.head()

,As of Year,Respondent,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount (000s),Preapproval,Action Type,...,Lien Status,Edit Status,Sequence Number,Population,Minority Population %,HUD Median Family Income,Tract to MSA/MD Income %,Number of Owner-occupied units,Number of 1- to 4-Family units,Application Date Indicator
0,2009,0000000008,1,3,1,1,1,218,3,6,...,4,,2860,00002697,080.68,00070100,093.31,00000307,00000668,2
1,2009,0000000008,1,1,1,3,1,202,3,6,...,4,,2861,00004283,058.44,00070100,148.98,00000181,00000639,2
2,2009,0000000008,1,1,1,3,1,115,3,6,...,4,,2862,00005471,073.84,00070100,115.07,00000752,00001744,2
3,2009,0000000008,1,1,1,3,1,186,3,6,...,4,,2863,00005471,073.84,00070100,115.07,00000752,00001744,2
4,2009,0000000008,1,1,1,3,1,140,3,3,...,1,,2864,00002512,065.84,00070100,112.12,00000449,00000846,0

In [5]:
dataset.iloc[100,:]

As of Year                              2009
Respondent                        0000000008
Agency Code                                1
Loan Type                                  1
Property Type                              1
Loan Purpose                               3
Occupancy                                  1
Loan Amount (000s)                       294
Preapproval                                3
Action Type                                1
MSA/MD                                 NA
State Code                                 2
County Code                              220
Census Tract Number                  0001.00
Applicant Ethnicity                        3
Co Applicant Ethnicity                     3
Applicant Race 1                           6
Applicant Race 2
Applicant Race 3
Applicant Race 4
Applicant Race 5
Co Applicant Race 1                        6
Co Applicant Race 2
Co Applicant Race 3
Co Applicant Race 4
Co Applicant Race 5
Applicant Sex                              3
Co Applicant Sex                           3
Applicant Income (000s)                 0123
Purchaser Type                             8
Denial Reason 1
Denial Reason 2
Denial Reason 3
Rate Spread                            NA
HOEPA Status                               2
Lien Status                                1
Edit Status
Sequence Number                         2960
Population                          00003188
Minority Population %                 028.67
HUD Median Family Income            00070100
Tract to MSA/MD Income %              108.97
Number of Owner-occupied units      00000753
Number of 1- to 4-Family units      00001378
Application Date Indicator                 0
Name: 100, dtype: object

In [6]:
#Not Needed
#len(dataset[dataset['Action Type'] == 1])

8950936

In [7]:
#Not Needed
#len(dataset[dataset['Action Type'] == 2])

851769

In [8]:
#Not Needed
#len(dataset[dataset['Action Type'] == 3])

3012967

In [9]:
#Not Needed
#len(dataset[dataset['Action Type'] > 3])

6677819

In [8]:
dataset = dataset[dataset['Action Type'] <= 3]

In [9]:
dataset.columns

Index(['As of Year', 'Respondent', 'Agency Code', 'Loan Type', 'Property Type',
       'Loan Purpose', 'Occupancy', 'Loan Amount (000s)', 'Preapproval',
       'Action Type', 'MSA/MD', 'State Code', 'County Code',
       'Census Tract Number', 'Applicant Ethnicity', 'Co Applicant Ethnicity',
       'Applicant Race 1', 'Applicant Race 2', 'Applicant Race 3',
       'Applicant Race 4', 'Applicant Race 5', 'Co Applicant Race 1',
       'Co Applicant Race 2', 'Co Applicant Race 3', 'Co Applicant Race 4',
       'Co Applicant Race 5', 'Applicant Sex', 'Co Applicant Sex',
       'Applicant Income (000s)', 'Purchaser Type', 'Denial Reason 1',
       'Denial Reason 2', 'Denial Reason 3', 'Rate Spread', 'HOEPA Status',
       'Lien Status', 'Edit Status', 'Sequence Number', 'Population',
       'Minority Population %', 'HUD Median Family Income',
       'Tract to MSA/MD Income %', 'Number of Owner-occupied units',
       'Number of 1- to 4-Family units', 'Application Date Indicator'],
      dtype='object')

In [10]:
den_reasons = dataset.iloc[:, 30:33] #store denial reasons

In [11]:
dataset.drop(dataset.columns[30:33],axis=1, inplace=True)

In [12]:
#Not Needed
#dataset.columns

Index(['As of Year', 'Respondent', 'Agency Code', 'Loan Type', 'Property Type',
       'Loan Purpose', 'Occupancy', 'Loan Amount (000s)', 'Preapproval',
       'Action Type', 'MSA/MD', 'State Code', 'County Code',
       'Census Tract Number', 'Applicant Ethnicity', 'Co Applicant Ethnicity',
       'Applicant Race 1', 'Applicant Race 2', 'Applicant Race 3',
       'Applicant Race 4', 'Applicant Race 5', 'Co Applicant Race 1',
       'Co Applicant Race 2', 'Co Applicant Race 3', 'Co Applicant Race 4',
       'Co Applicant Race 5', 'Applicant Sex', 'Co Applicant Sex',
       'Applicant Income (000s)', 'Purchaser Type', 'Rate Spread',
       'HOEPA Status', 'Lien Status', 'Edit Status', 'Sequence Number',
       'Population', 'Minority Population %', 'HUD Median Family Income',
       'Tract to MSA/MD Income %', 'Number of Owner-occupied units',
       'Number of 1- to 4-Family units', 'Application Date Indicator'],
      dtype='object')

In [13]:
# Remove year, respondant, race info (not ethnicity) and applicaiton date indicator
dataset.drop(dataset.columns[pd.Index([0,1,41])],axis=1, inplace=True)
dataset.drop(dataset.columns[pd.Index([16,17,18,19,20])],axis=1, inplace=True)
dataset.drop(dataset.columns[pd.Index([21,22,23,24,25])],axis=1, inplace=True)

In [14]:
#Not Needed
#dataset.columns

Index(['Agency Code', 'Loan Type', 'Property Type', 'Loan Purpose',
       'Occupancy', 'Loan Amount (000s)', 'Preapproval', 'Action Type',
       'MSA/MD', 'State Code', 'County Code', 'Census Tract Number',
       'Applicant Ethnicity', 'Co Applicant Ethnicity', 'Applicant Race 1',
       'Applicant Race 2', 'Co Applicant Race 3', 'Co Applicant Race 4',
       'Co Applicant Race 5', 'Applicant Sex', 'Co Applicant Sex',
       'Edit Status', 'Sequence Number', 'Population', 'Minority Population %',
       'HUD Median Family Income', 'Tract to MSA/MD Income %',
       'Number of Owner-occupied units', 'Number of 1- to 4-Family units'],
      dtype='object')

In [15]:
dataset['Action Type'] = dataset['Action Type'].map({1:1,2:1,3:0}) # Convert approved to 1 and denied to 0

In [16]:
#Not Needed
#dataset['Action Type']

4           0
8           0
23          1
27          1
31          0
36          1
42          1
47          0
48          0
55          1
56          1
60          0
62          1
63          0
66          1
67          0
96          1
98          1
99          1
100         1
101         1
102         0
103         0
104         1
105         1
106         1
107         1
108         1
109         1
110         0
           ..
19493356    0
19493358    0
19493360    1
19493361    1
19493362    1
19493363    1
19493364    1
19493365    1
19493366    0
19493367    0
19493368    0
19493471    1
19493472    1
19493473    1
19493474    1
19493475    1
19493476    1
19493477    1
19493478    1
19493479    1
19493480    1
19493481    1
19493482    1
19493483    1
19493484    1
19493485    1
19493486    1
19493487    1
19493488    1
19493489    1
Name: Action Type, dtype: int64

In [17]:
#Not Needed
#len(set(dataset['Census Tract Number']))

28580

In [18]:
dataset.drop('Census Tract Number',axis=1, inplace=True)

In [19]:
#Not Needed
#len(set(dataset['Sequence Number']))

1859014

In [20]:
dataset.drop('Sequence Number',axis=1, inplace=True)

In [21]:
dataset.columns

Index(['Agency Code', 'Loan Type', 'Property Type', 'Loan Purpose',
       'Occupancy', 'Loan Amount (000s)', 'Preapproval', 'Action Type',
       'MSA/MD', 'State Code', 'County Code', 'Applicant Ethnicity',
       'Co Applicant Ethnicity', 'Applicant Race 1', 'Applicant Race 2',
       'Co Applicant Race 3', 'Co Applicant Race 4', 'Co Applicant Race 5',
       'Applicant Sex', 'Co Applicant Sex', 'Edit Status', 'Population',
       'Minority Population %', 'HUD Median Family Income',
       'Tract to MSA/MD Income %', 'Number of Owner-occupied units',
       'Number of 1- to 4-Family units'],
      dtype='object')

In [22]:
dataset.drop(dataset.columns[13:17],axis=1, inplace=True)

In [23]:
dataset.drop(dataset.columns[13],axis=1, inplace=True)

Need to OneHotEncode:
    'Agency Code', 
    'Loan Type', 
    'Property Type', 
    'Loan Purpose',
    'Preapproval',
    'State Code', 
    'County Code',
    'Applicant Ethnicity', 
    'Co Applicant Ethnicity', 
    'Applicant Sex', 
    'Co Applicant Sex',
    'Edit Status'
    
Need to scale:
    'Occupancy', 
    'Loan Amount (000s)'
    'MSA/MD'
    'Population', 
    'Minority Population %',
    'HUD Median Family Income', 
    'Tract to MSA/MD Income %',
    'Number of Owner-occupied units', 
    'Number of 1- to 4-Family units'

In [24]:
#Write cleaned data to file
dataset.to_csv("cleaned_data.csv")
den_reasons.to_csv("denial_reasons.csv")